
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4783cdb0;
    backdrop-filter: blur(0.4rem);
    display: flex;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}


.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0;
    height: 2px;
    background: rgb(232, 235, 245);
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;
}

h2{

    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  
}

/*Font de LOGO. Estara sujeto a cambio*/
h1{
font-family: Arial, Helvetica, sans-serif;
color: white;
}


.Container{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media(max-with:900px){

    body{
        padding: 30px;
    }
    .form{
        width: 100px;
        
    }

    .forget-password{
        flex-direction: column;
    }
    h2{
        font-size: 20px;
    }


}
.Text_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(39, 55, 97);
    margin-bottom: 25px;
    
}
.div-search-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.div-search{
    padding: 10px 10px;
    border: 1px solid rgb(47, 105, 153);
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 17px;
    gap: 5px
}

.div-search input{
    border: none;
    outline: none;
}

.div-search button{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.div-search-check{
    display: flex;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-check-options{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;

}
.table{
    width: 100%;
    border: #4784cd 2px solid;
    border-radius: 12px;
    padding: 20px;
    
}
thead{
    border-bottom: #4784cd 2px solid;
    font-family: Arial, Helvetica, sans-serif;
}
tbody{
    font-family: Arial, Helvetica, sans-serif;
}
th{
    font-size: 20px;
}
td,tr{
    text-align: center;
    padding: 20px 30px;
    font-size: 15px;
}
.div-btn-exit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 0px 0px 13px 0;
}

#btn-exit{
    font-size: 20px;
    border: none;
    background-color: rgb(232, 235, 245) ;
}

.div-btn-paciente{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4784cd;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    margin-right: 25px;
}
.div-add-paciente{
    padding: 20px 30px 30px 30px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: max-content;
  max-width: 80%;
  max-height: 90%;
    box-shadow: 0 0 20px rgb(114, 114, 114);
    border-radius: 15px;
    background-color: rgb(232, 235, 245);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.div-mensaje h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(39, 55, 97);
    margin-bottom: 25px;
}
.div-btn-add-paciente{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.div-btn-ver{

    background-color: #4784cd;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}
.div-btn-ver a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.btn-Paciente-pediatrico,
.btn-Paciente-adulto{
    margin-top: 15px;
    background-color: #4784cd;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#PopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.div-search-warning{
    display: flex;
    flex-direction: column;
}
.Pages{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px; 
}