    
/*     ----COLORES---
#4784cd = Botones inactivos
#335f94 = Cursor sobre el boton
rgb(232, 235, 245) = Login y Registro
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(240, 244, 245);
    min-height: 100%; 
    padding: 80px 0 0 0;
    flex-direction: column;
}


.div-btnUser-edit_delete{
    width: 800px;
    display: flex;
    justify-content: right;
    padding-right: 100px;
 }
 
 .btn-UserEdit {
     background-color: #4784cd;
     padding: 10px 15px;
     font-size: 15px;
     border: none;
     border-radius: 10px;
     color: white;
     cursor: pointer;
     margin-right: 10px;
 }
 
 .btn-UserEdit:active{
 
     background-color: #192a3f;
 }
 
 .btn-UserDelete{
     background-color: #cd4747;
     padding: 10px 15px;
     font-size: 15px;
     border: none;
     border-radius: 10px;
     color: white;
     cursor: pointer;
 }
 
 .btn-UserDelete:active{
     background-color: #8d2b2b;
 }
 
#td-DatosPer{
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     border-bottom: 1px solid black;
 }
 .td-campoUser{
    border-bottom: 1px solid black;
    text-align: left;
     width: 30%;
     font-weight: bold;
     padding: 10px 15px;
 }
 
 .h3Pro_User{
     margin-top: 80px;
     color: #192a3f;
     font-size: 27px;
     font-family: Arial, Helvetica, sans-serif;
 }
 .DataUser{
     padding: 50px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 600px;
     box-shadow: 0 0 20px rgb(192 193 221);
     border-radius: 15px;
     background-color: rgb(232, 235, 245);
     margin-top: 20px;
 
 }
 
 .tableDatosUser{
     width: 100%;
 }
 
 
 /*Font de LOGO*/
 h1{
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     }
 
 .container-setUser{
     width: 100%;
     height: 100%;
     position: fixed;
     background-color: rgba(174, 177, 182, 0.445);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .SetProfile{
     padding: 50px;
     display: flex;
     width: 500px;
     box-shadow: 0 0 20px rgb(192 193 221);
     border-radius: 15px;
     background-color: rgb(232, 235, 245);
     flex-direction: column;
 }
 
 .label-setUser{
     display: flex;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding-right: 20px;
 }
 
 .input-setUser{
     width: 250px;
     height: 25px;
     font-size: 15px;
     padding-left: 5px;
     border-radius: 5px;
     border: 1px solid #4784cd;
 }
 
 .th-DataUser{
  padding-bottom: 10px;
 }
 
 .bth-UptData, .bth-Close{
     background-color: #4784cd;
     padding: 10px 15px;
     font-size: 15px;
     border: none;
     border-radius: 10px;
     color: white;
     cursor: pointer;
 }
 .bth-Close{
     margin-left: 15px;
     background-color: #cd4747;
 }
 
 .bth-Close:hover{
     background-color: #8d2b2b;
 }
 
 .bth-UptData:hover{
     background-color: #335f94;
 }
 .div-btn-UpClo{
     display: flex;
     width: 100%;
     padding-top: 18px;
     justify-content: center;
 
 }
 