/*     ----COLORES---
#4784cd = Botones inactivos
#335f94 = Cursor sobre el boton
rgb(232, 235, 245) = Login y Registro
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    height: 900px; 
    padding: 80px 0 0 0;
    flex-direction: column;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4783cdb0;
    backdrop-filter: blur(0.4rem);
    display: flex;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}


.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0;
    height: 2px;
    background: rgb(232, 235, 245);
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;
}


#date, #doctor, #motivo{
    padding: 7px 10px;
    width: 28%;
}

#motivo{
    width: 66%;
}

#diagnostico, #tratamiento{

    width: 100%;
    height: 50%;
}

.div_Data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.form_consulta{

    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    box-shadow: 0 0 20px rgb(114, 114, 114);
    border-radius: 15px;
    background-color: rgb(232, 235, 245);
    margin: 100px;
    flex-wrap: nowrap;
}

.h2_consulta{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(39, 55, 97);
    margin-bottom: 25px;
    padding: 0px 34% 0px 34%;

}

label{
    font-family: Arial, Helvetica, sans-serif,Arial;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 7px 2% 0 10px;
}

input{
    border: 1px solid rgb(47, 105, 153);
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
}

.btn-registrar{

    margin-top: 30px;
    background-color: #4784cd;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-registrar:active{

    background-color: #192a3f;
}

/* Font de LOGO*/

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }

@media(max-with:900px){

    body{
        padding: 30px;
    }
    .header{
        padding: 20px 20px;
    
    }
    
    .form{
        width: 100px;
        
    }

    .forget-password{
        flex-direction: column;
    }

}
