/*     ----COLORES---
#4784cd = Botones inactivos
#335f94 = Cursor sobre el boton
rgb(232, 235, 245) = Login y Registro
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    height: 900px; 
    padding: 80px 0 0 0;
    flex-direction: column;
}


#date, #doctor, #motivo{
    padding: 7px 10px;
    width: 28%;
}

#motivo{
    width: 66%;
}

#observacion,#diagnostico, #tratamiento{
    padding: 7px 10px;
    width: 100%;
    height: 50%;
}

.div_Data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.form_consulta{

    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    box-shadow: 0 0 20px rgb(114, 114, 114);
    border-radius: 15px;
    background-color: rgb(232, 235, 245);
    margin: 100px;
    flex-wrap: nowrap;
}

.h2_consulta{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(39, 55, 97);
    margin-bottom: 25px;
    padding: 0px 34% 0px 34%;

}

#label-RC{
    font-family: Arial, Helvetica, sans-serif,Arial;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 7px 2% 0 10px;
}
textarea,
#date,
#doctor,
#motivo{
    border: 1px solid rgb(47, 105, 153);
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    resize: none;
}

.btn-registrar{

    margin-top: 30px;
    background-color: #4784cd;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-registrar:active{

    background-color: #192a3f;
}

/* Font de LOGO*/

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }

@media(max-with:900px){

    body{
        padding: 30px;
    }
    .header{
        padding: 20px 20px;
    
    }
    
    .form{
        width: 100px;
        
    }

    .forget-password{
        flex-direction: column;
    }

}
