/*     ----COLORES---
#4784cd = Botones inactivos
#335f94 = Cursor sobre el boton
rgb(232, 235, 245) = Login y Registro
*/


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(240, 244, 245);
    min-height: 100%; 
    padding: 80px 0 0 0;
    flex-direction: column;
}


.td-consulta{
    text-align: left;
    width: 30%;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.td-DatosCols{
    text-align: left;
    border-bottom: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
}

.div-consulta{
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    box-shadow: 0 0 20px rgb(192 193 221);
    border-radius: 15px;
    background-color: rgb(232, 235, 245);
    margin-top: 50px;
}

.table-cansulta{
    width: 100%;
}
 /*
.div-btn-edit{
   width: 800px;
   display: flex;
   justify-content: right;
}

.btn-Edit {
    background-color: #4784cd;
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn-Edit:active{

    background-color: #192a3f;
}
*/
.h3Consulta{
    margin-top: 80px;
    color: #192a3f;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
.DataPer{
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    box-shadow: 0 0 20px rgb(192 193 221);
    border-radius: 15px;
    background-color: rgb(232, 235, 245);
    margin-top: 20px;

}


/*Font de LOGO*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }




