<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/Home.css">
    <title>Esclak</title>
</head>
<body>
 
    <header class="header">

        <h1>LOGO</h1>
        <nav class="navbar">
                        
        <a href="Login">Iniciar Sesión</a>
        <a href="SignUp">Registro</a>
    
        </nav>
    </header>
    <!--El div container es para colocar una imagen, es un
    contenedor de prueba, hasta que la imagen se coloque
    <div class="container">-->
    
        <h2>BIENVENIDO A ESCLAK</h1>

    <!-- </div> -->
</body>
</html>