<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/index.css" rel="stylesheet" type="text/css">
    <title>Esclak</title>
</head>
<body>

        
    <header class="header">

        <h1>LOGO</h1>
        <nav class="navbar">
                        
        <a href="/">Home</a>
        <a href="SignUp">Registro</a>
    
        </nav>
    </header>

    <form> 
        <h2>Inicio de Sesion</h2>
        <label for="username">Usuario</label>
        <input type="text" id="username">

        <label for="password">Contraseña</label>
        <input type="password" id="password">

        <button type="submit" class="btn-login">Enviar</button>
        
        <div class="forget-password">
            <a href="SignUp"><p>Registrarte</p></a>
        </div>
    </form>
</body>
</html>