<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/ProfileUsuario.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>

    <header class="header">
        <h1>LOGO</h1>
        <nav class="navbar">              
        <a href="/Perfil">Perfil</a>
        <a href="/Paciente">Pacientes</a>
        <a href="/LogOut">Cerrar Secion</a>
        </nav>
    </header>

    <h3 class="h3Pro_User">Perfil</h3>

    <div class="div-btnUser-edit_delete">
        <button class="btn-UserEdit">Editar</button>
        <button class="btn-UserDelete">Eliminar</button>
    </div>
        <div class="DataUser">
            <table class="tableDatosUser">
                <tr>
                    <td class="td-campoUser">Usuario</td>
                    <td class="td-DatosUser">vicky</td>
                </tr>
                <tr>
                    <td class="td-campoUser">Nombres</td>
                    <td class="td-DatosUser"> Mary</td>
                </tr>
                <tr>
                    <td class="td-campoUser">Apellidos</td>
                    <td class="td-DatosUser">Luis</td>
                </tr>
                <tr>
                    <td class="td-campoUser">Cedula</td>
                    <td class="td-DatosUser">8561320</td>
                </tr>
                <tr>
                    <td class="td-campoUser">Sexo</td>
                    <td class="td-DatosUser">Mujer</td>
                </tr>
                <tr>
                    <td class="td-campoUser">Rol</td>
                    <td class="td-DatosUser">0451313</td>
                </tr>
                <tr>
            </table>
        </div>

</body>
</html>