<%- include("./template/header"); %>
    <form class="form_consulta" data-id="<%= id %>" data-tipo="<%= tipo %>">
        <h2 class="h2_consulta">Consulta</h2>

        <div class="div_Data">
            
            <label id="label-RC" for="date">Fecha:</label>
            <input type="date" id="date">

            <label id="label-RC" for="doctor">Nombre del Doctor:</label>
            <input type="text" id="doctor">

            <label id="label-RC" for="motivo" >Motivo de la Consulta:</label>
            <input type="text" id="motivo">

        </div>
        <label id="label-RC" for="diagnostico">Observacion:</label>
        <textarea type="text" id="observacion"></textarea>
        <label id="label-RC" for="diagnostico">Diagnostico:</label>
        <textarea type="text" id="diagnostico"></textarea>

        <label id="label-RC" for="tratamiento">Tratamiento:</label>
        <textarea type="text" id="tratamiento"></textarea>

    <button type="button" class="btn-registrar">Agregar</button>
    </form>

    <script src="/js/reg_consulta.js"></script>
